Job Hunting Bot.json
{
  "name": "Job Hunting Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        112
      ],
      "id": "161d0519-4680-4e7a-ad7a-9765dac338fd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1-lmymmw5Y2QytR1sLoas2Co_KPDbfo4p/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        368
      ],
      "id": "da156621-065c-484e-8250-83e18da73f27",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "csuB6K8AvzZV4mAy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        112
      ],
      "id": "99569949-da23-4a6e-89fc-cb0a0de317a6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18TxULpLfmhZJg1UX-npe_td7h1MAiv1_uGq6RT8DBIQ",
          "mode": "list",
          "cachedResultName": "Job Hunting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18TxULpLfmhZJg1UX-npe_td7h1MAiv1_uGq6RT8DBIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18TxULpLfmhZJg1UX-npe_td7h1MAiv1_uGq6RT8DBIQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        416
      ],
      "id": "650f5769-7b46-4e8d-b3d3-5ed835110e49",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HNfebBF3vm1k7SNO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\";\n\nconst keyword = $input.first().json.Keyword || \"\";\nconst location = $input.first().json.Location || \"\";\nconst experienceLevel = $input.first().json[\"Experience Level\"] || \"\";\nconst remote = $input.first().json.Remote || \"\";\nconst jobType = $input.first().json[\"Job-Type\"] || \"\";\nconst easyApply = $input.first().json[\"Easy Apply\"] || \"\";\n\nif (keyword !== \"\") {\n  url += `&keywords=${encodeURIComponent(keyword)}`;\n}\n\nif (location !== \"\") {\n  url += `&location=${encodeURIComponent(location)}`;\n}\n\nif (experienceLevel !== \"\") {\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"1\";\n        case \"Entry level\": return \"2\";\n        case \"Associate\": return \"3\";\n        case \"Mid-Senior level\": return \"4\";\n        case \"Director\": return \"5\";\n        case \"Executive\": return \"6\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\nif (remote !== \"\") {\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (jobType !== \"\") {\n  const transformedJobType = jobType\n    .split(\",\")\n    .map((type) => type.trim().charAt(0).toUpperCase());\n\n  url += `&f_JT=${transformedJobType.join(\",\")}`;\n}\n\nif (easyApply !== \"\") {\n  url += \"&f_EA=true\";\n}\n\nreturn { url };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        112
      ],
      "id": "ea46ca6d-5eee-44ec-9698-b5646491a3cb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        400
      ],
      "id": "d9e0f0b0-464b-4dc5-8054-e7bb801ad78e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "a[href*=\"/jobs/view/\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1344,
        112
      ],
      "id": "eb3e0510-7f9f-4184-a740-ee57816b5307",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1568,
        384
      ],
      "id": "d1d0697e-9a5c-4a5e-a4e9-cfbaa482db08",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1792,
        112
      ],
      "id": "513908bf-a9a9-4478-87f0-5c9d13565f30",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2032,
        384
      ],
      "id": "2917ae01-6a1e-477a-8510-f3edd28da29f",
      "name": "Wait",
      "webhookId": "12feff4e-5739-411a-85a7-8d97c7d79260"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2240,
        96
      ],
      "id": "866f253f-2bb3-4b7f-9472-02eaf9967de8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a "
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2432,
        384
      ],
      "id": "269a0d4d-97a6-49ec-a6dd-940403b2df34",
      "name": "HTML1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b4f9259-c6b6-43dc-a9b1-eb3be2b56870",
              "name": "description",
              "value": "=={{ $json.description.replaceAll(/\\s+/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "ffb77e78-341e-4e7c-a125-95ae284b01bc",
              "name": "jobid",
              "value": "={{ $json.jobid.split(\":\").last() }}",
              "type": "string"
            },
            {
              "id": "53d3a7fa-1b2d-482e-b7e6-32298db64e06",
              "name": "applyLink",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        96
      ],
      "id": "471058b7-9360-4b05-b2e9-d8b7abe8d5f2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that helps match candidates to job opportunities. Your task is to review my resume, then analyze both the resume and job description to calculate a job matching score. Additionally, create a cover letter based on my resume and the job description. The cover letter should contain at least 2 paragraphs and should exclude the name, address, and signature sections from the beginning and end.\n\nWhen using special characters like quotation marks (\"), ensure they are properly escaped with a backslash. The output must be formatted as valid JSON that can be parsed without errors.\n\nFor example your response should be like: {\"score\": 80, \"coverLetter\": \"sample cover letter\" }\n\njob_description: {{ $json.description }}\nmy_resume: {{ $('Extract from File').item.json.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2880,
        -320
      ],
      "id": "93579cf1-4954-4f1f-bcf2-9956374a3cc2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        2880,
        -112
      ],
      "id": "5429102d-16fd-4cd8-b1fc-30f90909e92b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "P6hduAFZ03Hh1azq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{ $json.output.replaceAll(/```(?:json)?/g, \"\") }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        112
      ],
      "id": "b86ffb1a-9b79-4f40-8444-5abb1bf5f72d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18TxULpLfmhZJg1UX-npe_td7h1MAiv1_uGq6RT8DBIQ",
          "mode": "list",
          "cachedResultName": "Job Hunting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18TxULpLfmhZJg1UX-npe_td7h1MAiv1_uGq6RT8DBIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1633719508,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18TxULpLfmhZJg1UX-npe_td7h1MAiv1_uGq6RT8DBIQ/edit#gid=1633719508"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $('Edit Fields').item.json.applyLink }}",
            "Title": "={{ $('Edit Fields').item.json.title }}",
            "Company": "={{ $('Edit Fields').item.json.company }}",
            "Location": "={{ $('Edit Fields').item.json.location }}",
            "Description": "={{ $('Edit Fields').item.json.description }}",
            "Score": "={{ $json.score }}",
            "Cover Letter": "={{ $json.coverLetter }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3552,
        352
      ],
      "id": "de288b0b-976a-4c7c-a8b1-1a6a0c0913be",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HNfebBF3vm1k7SNO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3fc85c3-4354-41a0-8154-4dbaa29ede2d",
              "leftValue": "={{ $json.Score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3760,
        112
      ],
      "id": "e2047200-bb7f-4140-825a-be0416529e77",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "-5016620935",
        "text": "=Title: {{ $json.Title }}\nCompany: {{ $json.Company }}\nLocation: {{ $json.Location }}\nJob Score: {{ $json.Score }}\nApply: {{ $json.Link }}\nCopy Cover Letter from here - \n\n{{ $json['Cover Letter'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4240,
        96
      ],
      "id": "a9fab934-7d5e-4120-a8f7-64fa498ce9fb",
      "name": "Send a text message",
      "webhookId": "5952e2fb-f7ff-45b9-9323-b4d4edb7bed8",
      "credentials": {
        "telegramApi": {
          "id": "ThXUojh4q0UE4kQs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "Zusammengefasst automatisiert mein n8n-Flow den kompletten Prozess von der Jobsuche bis zur ersten Bewerbungsvorbereitung. Der Workflow liest den Lebenslauf, sucht passende Jobs, analysiert die Übereinstimmung mit KI, speichert die Ergebnisse und informiert den Nutzer automatisch über gute Chancen. Dadurch spart der Student Zeit und bekommt Jobs, die besser zu seinen Fähigkeiten und seinem Lernfortschritt passen.",
        "height": 864,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4544,
        -256
      ],
      "typeVersion": 1,
      "id": "1d9e4fca-20e8-4d4b-8e27-1deb9b1e1c7a",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f50b54a6-fa63-47a7-ae23-367bfc38ceff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c80576b121f7e8be790c8ec6cabc94a405c24b4158bfd8b813dc8d599c680d9f"
  },
  "id": "nhrJcjCwUzjFKlHL",
  "tags": []
}